<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo.user_id %>
</p>

<p>
  <strong>Photo num:</strong>
  <%= @photo.photo_num %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @photo.image_url %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
